@charset "utf-8";

* {
    font-family: "Noto Sans CJK JP", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
    
    outline: 0 !important;
    
    cursor: default;
    
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    
    color: #333333;
    
    overscroll-behavior-y: none;
}
